@(id: String, vs: ViewSettings)(implicit r: RequestHeader)

@workspace(id, vs) {

} {
  <script src="@routes.Assets.at("javascripts/ajax.min.js")"></script>
  <script>
    (function () {
      Ajax.getJSON('@routes.Application.show(id, ViewSettings(None, None, None))', function (data) {
          var nodes = MindMap.showMap(MindMap.buildMap(data))
          var workspace = document.querySelector('svg .workspace');
          for (var i = 0, l = nodes.length; i < l ; i++) {
            workspace.appendChild(nodes[i]);
          }
        }
      );
    })();
  </script>
}